<input type="text" id="jsonfile" value="{{fileName}}" hidden>
<div class="container mt-5">
    <div id="timeline" class="d-inline m-auto"></div>

    <div id="area" style="height:100%; width: 100%;"></div>
    <div id="info">

    </div>
</div>


{{#section "script"}}
    <script src="https://cdn.jsdelivr.net/npm/d3@6"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="/script.js"></script>
{{/section}}