<div class="d-flex flex-column bd-highlight mb-3 align-items-center justify-content-center">
    <div class="display-2 text-warning text-center">JSON to d3.js Diagram</div>
    <div class="p-2 bd-highlight">
        <div class="drag-area">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            <header>Drag & Drop to Upload File</header>
            <span>OR</span>
            <button>Browse File</button>
            <input type="file" hidden>
        </div>
    </div>
</div>

<script src="upload.js"></script>